:root {
  --border-light-green: #AFEAAF;
  --color-text: #2A382A;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  background-color: white;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-text);
}

a {
  color: var(--border-light-green)
}

.text-right {
  position: relative;
  text-align: center;
  margin-top: 15px;
}

h1 {
  color: var(--color-text);
  background-color: var(--border-light-green);
  padding: 20px;
}

li {
  display: inline;
  padding: 0px 20px;
  text-decoration: none;
}

.bannerimage {
  background-image: linear-gradient(to bottom, rgba(155, 214, 151, 0.563), rgba(43, 65, 45, 0.73)),url("02-hero-bg.jpg");
  background-size: 100%;
  height: 210px;
  position: relative;
}

h2 {
  color: var(--color-text);
  background-color: var(--border-light-green);
  position: absolute;
  top: 60%;
  right: 10%;
  padding: 15px;
}

.about-section{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.about-me {
  text-align: right;
  width: 15%;
  padding: 10px;
  border-right: 5px solid var(--border-light-green);
}

h3 {
  overflow-wrap: break-word;
  font-size: xx-large;
  color: var(--border-light-green);
}

.text {
  margin: 10px;
  width: 85%;
}

p {
  padding-top: 20px;
}

.work-section{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.work {
  text-align: right;
  width: 15%;
  padding: 10px;
  border-right: 5px solid var(--border-light-green);
}

.image-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 82%;
  margin: 10px;
}

.box-1 {
  width: 90%;
  border: 5px solid var(--border-light-green);
  overflow: hidden;
}

.image {
  transition: width 0.3s ease;
}

.image:hover {
  width: 110%; /* Set the expanded width on hover */
}

.project {
  color: var(--color-text);
}

.bottom-left {
  position: relative;
  background-color: var(--border-light-green);
  padding: 10px;
 
}

footer {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  display: flex;
}

.footer {
  display: flex;
  margin-top: 20px;
}

.contact {
  text-align: right;
  width: 15%;
  padding: 10px;
  border-right: 5px solid var(--border-light-green);
}

.contact-info {
  margin-left: 400px;
}

ul.contact-info > li a {
  font-size: large;
  color: var(--color-text)
}