:root {
  --border-light-blue: rgb(136, 211, 203);
  --color-text: #34343b;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  background-color: white;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-text);
}

a {
  color: var(--border-light-blue)
}

.text-right {
  position: relative;
  text-align: center;
  margin-top: 15px;
}

h1 {
  color: var(--color-text);
  background-color: var(--border-light-blue);
  padding: 20px;
}

li {
  display: inline;
  padding: 0px 20px;
  text-decoration: none;
}

.bannerimage {
  background-image: linear-gradient(to bottom, rgba(76, 140, 186, 0.52), rgba(16, 60, 101, 0.73)),url("02-hero-bg.jpg");
  background-size: 100%;
  height: 210px;
  position: relative;
}

h2 {
  color: var(--color-text);
  background-color: var(--border-light-blue);
  position: absolute;
  top: 60%;
  right: 10%;
  padding: 15px;
}

.about-me {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-left: 100px;
  width: 100%;
  display: flex;
}

h3 {
  overflow-wrap: break-word;
  font-size: xx-large;
  color: var(--border-light-blue);
  border-right: 3px solid var(--border-light-blue);
}

.text {
  margin-left: 200px;
}

p {
  padding-top: 20px;
}

.work {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-left: 100px;
  width: 100%;
}

.top-image-box {
  margin-left: 500px;
  margin-bottom: 50px;
}

img {
  width: 400px;
  height: 400px;
}

.box-1 {
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.box-2 {
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
}

footer {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-left: 100px;
  width: 100%;
  display: flex;
}

.contact-info {
  margin-left: 250px;
}

ul.contact-info > li a {
  font-size: large;
  color: var(--color-text)
}